body{
    text-align: center;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.title {
color: #1e90ff;
}

.input {
    border-color: #1e90ff;
}

.button{
    background-color: #00bfff;
    color: white;
}