*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F9FA;
    
}
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price_table {
    font-weight:700;
    font-style: Bold;
    font-size: 12px;
    line-height:28px;
    text-align: center;
    width: 83px;
    height: 28px;
    background-color: #6366F11A;
    color: #6366F1;
    border-radius: 8px;
}
h1{
    margin: 16px 351px;
    font-weight: 700;
    font-style: Bold;
    letter-spacing: 0%;
    text-align: center;

}
.slogan {
    font-weight:300;
    font-style: Light;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #212529BF;
}
.list_card {
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    width: 100%;
    height: 463.77px;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}
.card {
    width: 30%;
    height: 439.7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    min-width: 400px;
}
.header {
    text-align: center; 
    height: 141.8px;
    border-bottom:  2px solid #6366F1;
    margin-bottom: 24px;
}
.level{
    font-weight: 700;
    font-style: Bold;
    font-size: 25.2px;
    letter-spacing: 0%;
    text-align: center;
}
.price{
    font-weight: 400;
    font-style: Regular;
    font-size: 16.8px;
    text-align: center;
    color: #999999;
}
.highlight {
    font-weight:700;
    font-style: Bold;
    font-size: 42px;
    text-align: center;
    color: #6366F1  ;
}
li {
    padding-bottom: 8.79px;
    font-weight:400;
    font-style: Regular;
    font-size: 16px;
    color: #212529;
    list-style: none;
}
li::before{
    content: "✅";

}
li:nth-child(4)::before,
li:nth-child(5)::before{
    content: "⊗";

}
button {
    width: 364px;
    height: 38px;
    border-radius: 6px;
    border: 1px solid #0D6EFD;
    background-color: #fff;
    color: #0D6EFD;

}
.button_special{
    background-color: #0D6EFD;
    color: #fff;
}
.card:nth-child(2){
    width: 32%;
    height: 461.75px;
    border: 2px solid #6366F1;
    border-radius: 8px;
}