* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family:  sans-serif;
    font-size: 16px;
    background-color: #F8F9FA;
}
.card_course { 
    width: 25%;
    height: 473.97px;
    background-color: #fff;
}
.background {
    height: 200px;
    width: 100%;
    background: linear-gradient(#667EEA ,#764BA2);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-code{
    font-size: 50px;
}
.background .tag {
    position: absolute;
    top:14px;
    right: 14px;
    color: #FFFFFF;
}
.course_info {
    background-color: #fff;
    padding: 15px 16px  0 16px;
}
.review {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}
.review .tag{
    width: 67.6px;
    height: 20.4px;
    border-radius: 6px;
    background-color: #6366F11A;
    color: #6366F1;
    font-weight:700;
    font-style: Bold;
    font-size: 12px;
    line-height: 20.4px;
    text-align: center;

}
.star {
font-weight:700;
font-style: Bold;
font-size: 16px;
line-height: 25.6px;


}
.course_name {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 7.19px;
    font-weight: 700;
    color: #212529;
}
.description {
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    margin-bottom: 16px;
    color: #212529BF;
}
.total{
    display: flex;
    justify-content: space-between;
    color: #212529BF;
}   
.diven{
    border: 1px solid #DEE2E6;
    margin: 16px 0;
}
.footer{
    background-color: #fff;

}
.price {
    margin-top: 19.5px 0;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #6366F1;

}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.button {
    color: #FFFFFF;
    width: 96px;
    height: 31px;
    border-radius: 4px;
    border: 0;
    background-color: #667EEA;

}
